
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: secretmirrors.mirrors.kts.studio
spec:
  group: mirrors.kts.studio
  names:
    kind: SecretMirror
    listKind: SecretMirrorList
    plural: secretmirrors
    singular: secretmirror
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.source.namespace
      name: Source Namespace
      type: string
    - jsonPath: .spec.source.name
      name: Source Name
      type: string
    - jsonPath: .status.mirrorStatus
      name: Mirror Status
      type: string
    - jsonPath: .status.lastSyncTime
      name: Last Sync Time
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SecretMirror is the Schema for the secretmirrors API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SecretMirrorSpec defines the desired state of SecretMirror
            properties:
              source:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                type: object
            type: object
          status:
            description: SecretMirrorStatus defines the observed state of SecretMirror
            properties:
              lastSyncTime:
                format: date-time
                type: string
              mirrorStatus:
                default: Pending
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
